<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example">


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Normal">
        <activity
            android:name=".activity.WelcomeActivity_"

            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fc.activity.SecondActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".fc.activity.firstActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activity.HomeActivity_"
            android:launchMode="singleTask"></activity>
        <activity android:name=".activity.BaseActionBarActivity_"></activity>

        <activity
            android:name=".activity.LoginActivity_"
            android:configChanges="keyboardHidden|orientation"
            android:label="登录"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity_"
            android:configChanges="keyboardHidden|orientation"
            android:label="设置"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </receiver>
        <service
            android:name=".fc.activity.PushService"
            android:label=" Push Notifications Service"></service>
        <service
            android:name=".fc.activity.MqttService"
            android:exported="false"
            android:label=" Push Notifications Service"></service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- volleypost 提交时读取手机状态权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- zxh检查wife状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- zxh检查网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- zxh访问网络的权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 可以写入sdcard的权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 屏幕保持唤醒 不锁屏-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--推送开机自启动服务-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>
